# Application
NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:4200
SWAGGER_HABILITADO=true

# PostgreSQL Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tp-integrador
POSTGRES_DB_TEST=tp-integrador-test

# Configuracion pgAdmin  (GUI DB, http://localhost:5050)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
DB_LOGGING=false

# JWT Authentication
JWT_SECRET=super_secret_jwt_key_at_least_32_chars_long
JWT_EXPIRES_IN=1h
