# Server Configuration
PORT=3000

# Database Configuration (PostgreSQL 16)
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tp-integrador
POSTGRES_PORT=5432

# Configuracion pgAdmin  (GUI DB, http://localhost:5050)
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
DB_LOGGING=true
